@model IEnumerable<SellSphere.Core.Location>
@{
    ViewData["Title"] = "Каталог Локацій";
    Layout = "~/Views/Shared/_BreezeLayout.cshtml";
}


<div class="card">
    <div class="card-body">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LocationId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LocationName)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LocationId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LocationName)
                        </td>

                        <td>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.LocationId">Редагувати</a>
                                    <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.LocationId">Деталі</a>
                                    <a class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-route-id="@item.LocationId">Видалити</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

</div>