@using SellSphere.Core
@using SellSphere.Repository
@using SellSphere.Repository.Dto.CategoryDto
@using SellSphere.Repository.Dto.GoodsDto
@using SellSphere.Repository.Dto.LocationDto
@model IEnumerable<SellSphere.Core.Goods>
@{
    ViewData["Title"] = "Топ товари";
    Layout = "~/Views/Shared/_BreezeLayout.cshtml";
}


<h1>@ViewData["Title"]</h1>

<div class="float-end">
    <a asp-action="Create">Додати оголошення</a>
</div>

<br />

<tbody>
    <div class="container row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3 mb-4">
                <div class="card card-block">

                    <img class="card-img-top img-thumbnail" style="height: 180px; width: 100%; display: block;" src="@item.ImgPath" alt="@item.GoodsName">
                    <div class="card-block">
                        <h5 class="card-title">@item.GoodsName</h5>
                        <p class="card-text">Категорії: @item.Category.CategoryName</p>
                        <p class="card-text">Місто: @item.Location.LocationName</p>
                        <p class="card-text">@item.Price</p>
                        <input class="hiddenInput" type="hidden" value="@item.GoodsId" />


                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.GoodsId">Редагувати</a>
                        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.GoodsId">Видалити</a>

                        @*<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.GoodsId">Деталі</a>*@
                        <a href="/Home/Details/@item.GoodsId" class="text-decoration-none">Деталі</a>
                    </div>
                </div>
            </div>
        }
    </div>
</tbody>

</div>
